<div class="container text-center"><h3>Inventory Management System</h3> </div>
<nav class="navbar navabar-expand navbar-light">
<a><i></i></a>
</nav>




<div class="row">
  <div class="col-4 text-center border"><button class="btn btn-link" routerLink="/">Home</button></div>
  <div class="col-4 text-center border" ><button class="btn btn-link" routerLink="/product">Products</button></div>
  <div class="col-4 text-center border"><button class="btn btn-link">Help</button></div>
</div>
<br>


<ol class="breadcrumb">
  <li class="breadcrumb-item" routerLink="/product">Products</li>
  <li class="breadcrumb-item active" routerLink="/product/product-list">Products List</li>
  </ol>
<br><br>

<router-outlet></router-outlet>
